$color-plumbum: #262c40;
$color-asphalt: #8189a3;
$color-purple: #432eab;
$color-blueberry: #d4defe;

$shadow-m: 0px 0px 20px rgba(0, 0, 0, 0.1);
$shadow-l: 0px 0px 20px rgba(0, 0, 0, 0.3);

$border-radius-m: 16px;
$border-radius-l: 24px;
